row{
    color: black
}

#chessContainer{
   
    border:3px solid green;
    margin: auto;
   

}
#nav{
    height:50px;
}

table.gridtable {
    margin:0;
    widows: 95%;
    overflow: auto;
    color: #333333;
    border-width:1px;
    border-color: #666666;
    border-collapse:collapse;
    text-align: center;
}
table.gridtable td{
    border-width: 1px;
    padding:8px;
    width: 30px;
    border-style: solid;
    border-color:#666666; 
}

td:hover {background-color: #D8DA5C}

.fa-angle-right{
    padding-left: 20px;
}
.btnadj{
    color: #ffffff !important;
padding: 0 !important;
padding-top: 10px !important;
border: 0 !important;
height: 95% !important;
background-color: #424242 !important; 
}

.hide-on-med-and-down{
    height: 55px !important;
}
.raised{
    padding-top: 3px;
    padding-left: 2px;
}

.start{
    padding-top: 3px !important;
}

.target{
    padding-top: 1px !important;
    padding-left: 2px !important;
}

.fa-dot-circle{
    padding-left: 20px;
}

.fa-atom{
    padding-left: 20px;
}